#mainConfig{
    position: absolute;
    width: 100%;
    margin-top:70px;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #f7f7f7;
}

form#config{
    margin-top: 80px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;
    width:40%;
    height: 580px;
    background: #21897e;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 50, .5) 2px 2px 2px;
}
form#config h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 28px;
}
form#config input[type="submit"]{
    display: block;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    background: white;
    border-radius: 100px;
    border: none;
    color: #087f23;
    font-size: 17px;
    border: solid 2px #087f23;
    width: 160px;
    height: 35px;
    cursor: pointer;
    transition: .6s ease;

}
form#config input[type="submit"]:hover{
    background: #087f23;
    color: white;
    border: none;
    width: 160px;
    height: 35px;
}
.mui-textfield, .mui-select{
    width: 70%;
    margin: auto
}