#cart-main {
	background: #f1f1f1;
	height: 50px;
	width: 100%;
}
#cart-main h3{
	text-align: center;
	width: all;
	margin: 11px auto;
	display: inline-block;
}
#cart-main #cart-total {
	float: right;
	padding: 15px 20px
}
#myProducts {
	position:absolute;
	top:50px;
	padding: 20px 5px;
	width: 80%;
	background: #f7f7f7;
	border-radius: 5px;
	box-shadow: 1px 1px 5px gray;
	transition: ease .3s;
}
