#imgBack{
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background: -moz-linear-gradient(left top,#388e3c, #b2fab4) ,
                -webkit-linear-gradient(left bottom,#388e3c, #b2fab4);
}
#imgBack h1{
	text-align: center;
	position: absolute;
	top: 100px;
	width: 100%;
	color: white;
}
#landing-image{
	width: 100%;
	filter: opacity(.6) brightness(.5); 
}

#iframe{
    width: 560px;
    height: 315px;
    background: black;
}
#video{
    margin-top: 200px;
}